<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Chatbot</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>


  <link rel='stylesheet' type='text/css' media='screen' href='styles.css'>
  <script src='main.js'></script>
  <style>
    .heading {
      text-align: center;
    }

    .nextpage {
      text-align: center;
    }

    .descriptionbox {
      background-color: #303030;
      color: white;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      width: 550px;
      height: 550px;
      margin: 0 auto;
    }

    body {
      background-color: rgba(0, 0, 0, 0.87);
    }
  </style>
</head>
<div class="descriptionbox">

  <body>
    <h2 class="heading">INTRODUCTION</h2>
    <p><b>ELIXIR</b> is an AI which quizzes the user inorder to test the understanding of the code. The user can
      manually provide the input code for debugging. It quizzes the user regarding the input code and provides the
      debugged version <b>only if the user manages to answer minimum levels of questions appropriately</b>.
    <p>
    <h3>TERMS AND CONDITIONS:</h3>
    <p><b>Here is how elixir works differently</b></p>
    <ol>
      <li>The quiz involves multiple choice questions based on the code provided by the user.</li>

      <li>Elixir will generate questions based on the number of lines of code.</li>
      <li>The user will have access to the debugged code only if he/she manages to answer minimum questions correctly
      </li>
      <li>User can skip to the next question if not attempted to answer the previous question
      <li> <b>This tool aims to reduce mindless copying of code by quizzing the user on the same</b>.</li>
    </ol>
    <h4>DISCLAIMER</h4>
    <p>Do not include any sensitive information or content which violates Elixir's policy.</p>

    <p><i>Note: Proceed to the next page only if you agree to all the conditions mentioned above!</i></p>
    <div class="nextpage">

      <button>I understand</button>
    </div>
  </body>
</div>

</html>