<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Elixir AI: Enabling Mindful coding</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{url_for("static", filename="css/styles.css")}}'>
    <!--
        <script src='main.js'></script>
    -->

</head>

<body>
    <div class="container">
        <div class="outputbox">
            <div id="Box1">
                <div class="bot">
                    Welcome, How can I help you?
                </div>
            </div>
            <div class="Inputs">
                <div class="user">
                    <label>
                        <input placeholder="Enter your Query" type="text"></input>
                    </label>
                    <button type="submit"><img src="return_arrow.webp" alt="arrow" height="20px" width="20px"></button>
                </div>

            </div>
        </div>
        <div class="questionbox">
            <div id="Box2">
            </div>
            <div class="options">
                <div id="A">
                    <button type="submit">A</button>
                </div>
                <div id="B">
                    <button type="submit">B</button>
                </div>
                <div id="C">
                    <button type="submit">C</button>
                </div>
                <div id="D">
                    <button type="submit">D</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>